extends layout

block facebookscript
	#fb-root
		script
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

block content
	#content-left
		block content-left
	#content-right
		p 
			a(href='/') Home
		p
			a(href='/about') About Me
		P Authors
			ul
				- each author in postsPerAuthor
					li 
						| #{author.fullname} 
						a(href='/author/#{author.fullname}') #{author.count}
		P Archived Posts
			ul
				- each archive in postsPerMonth
					li 
						| #{archive.monthName} #{archive.year} 
						a(href='/archive/?year=#{archive.year}&month=#{archive.month}') #{archive.count}
	.clear